<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONE -->
    <link rel="icon" href="images/omni-icon.png" type="image/x-icon">

    <!-- METAS -->
    <meta name="description" content="A Omni Soluções Financeiras">
    <meta name="keywords" content="investimento, serviços, renda, financiamento">
    <meta name="author" content="OMNI">
    <meta name="twitter:card" value="summary">

    <meta property="og:title" content="Omni Soluções Financeiras" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.omni.com.br/" />
    <meta property="og:description" content="A Omni Soluções Financeiras oferece serviço de crédito para diversas faixas de renda."
    />
    <meta property="og:image" content="http://www.omni.com.br/assets/site/images/facebook.jpg" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="article:author" content="http://www.facebook.com/omnifinanceira" />



    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.css">

    <!-- DATATABLES -->
    <link rel="stylesheet" type="text/css" href="css/datatables.css" />

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" href="css/chosen.css">

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" href="css/gallery.css">

    <!-- DATE RANGE -->
    <link rel="stylesheet" type="text/css" href="css/data.css">

    <!-- ESTILO DO TEMA - SEMPRE POR ÚLTIMO -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/omnifacil.css">
    <link href="css/meucss.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
        <nav id="new-menu" class="navbar navbar-inverse marginBottom-0" role="navigation">
            <div class="navbar-header">
                <a href="/" id="logo-omni">
                    <img src="https://omnifacil2.omni.com.br/imagens/logo_omni_fundo_azul.png">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Grupo de Produtos </a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Grupo de Ações </a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Faixa de Atraso </a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Parametrização de Alçada </a></li>
                </ul>   
            </div>
        </nav>
        <nav>
            <ol class="breadcrumb crumb">
                <li>
                    <a href="/"><i class="fas fa-home"> </i> Home</a>
                </li>
                <li class="active">
                    <span>Grupo de produto</span>
                </li>
            </ol>
        </nav>


    </header>    
    
    <main>
        <section class="operator-panel row">
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x-title text-center">
                        <h2>Grupo de produto</h2>
                    </div>

                    <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(cadastrosucesso)}">
                        <span th:text="${cadastrosucesso}"></span>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${not #strings.isEmpty(deletesucesso)}">
                        <span th:text="${deletesucesso}"></span>
                    </div>

                    <div class="col-xs-12 crumb">
                        <a href="/cadastrar"><button type="button" class="btn btn-primary btn-sm pull-right" style="margin-top: 10px" >Adicionar novo grupo de produto</button></a>
                    </div>
                    <div>
                        <div class="col-xs-12">
                            <table class="table table-striped">
                                <thead class="table">
                                    <tr>
                                        <th class="col-md-4">Grupos</th>
                                        <th class="col-md-4">Produtos</th>
                                        <th class="col-md-2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="grupo : ${grupos}" >
                                        <td th:text="${grupo.nomeGrupo}" class="col-md-4 text-center"></td>
                                        <td th:text="${#strings.listJoin(grupo.produto, ' - ')}" class="col-md-4 text-center"></td>
                                        <td class="col-md-2 text-center">

                                            <a type="button" class="btn btn-primary" th:href="@{/visualizar/{id}(id=${grupo.id})}"><i class="fas fa-eye"></i></a>
                                            <a type="button" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                            <a type="button" class="btn btn-primary" th:href="@{/excluir/{id}(id=${grupo.id})}" onclick="return confirm('Deseja excluir este grupo?')"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                        
                </div>
            </div>
        </section>


    </main>
         

    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/datatables.min.js"></script>
    <script src="js/dataTables.bootstrap.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/chosen.jquery.js"></script>
    <script src="js/jquery.mask.js"></script>
</body>

</html>