<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONE -->
    <link rel="icon" href="images/omni-icon.png" type="image/x-icon">

    <!-- METAS -->
    <meta name="description" content="A Omni Soluções Financeiras">
    <meta name="keywords" content="investimento, serviços, renda, financiamento">
    <meta name="author" content="OMNI">
    <meta name="twitter:card" value="summary">

    <meta property="og:title" content="Omni Soluções Financeiras"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://www.omni.com.br/"/>
    <meta property="og:description"
          content="A Omni Soluções Financeiras oferece serviço de crédito para diversas faixas de renda."
    />
    <meta property="og:image" content="http://www.omni.com.br/assets/site/images/facebook.jpg"/>
    <meta property="og:image:type" content="image/jpeg">
    <meta property="article:author" content="http://www.facebook.com/omnifinanceira"/>


    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}">

    <!-- DATATABLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}"/>

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/chosen.css}">

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">

    <!-- DATE RANGE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/data.css}">

    <!-- ESTILO DO TEMA - SEMPRE POR ÚLTIMO -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/omnifacil.css}">
    <link rel="stylesheet" th:href="@{css/meucss.css}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald&display=swap}" rel="stylesheet">

</head>

<body>
<header>
    <nav id="new-menu" class="navbar navbar-inverse marginBottom-0" role="navigation">
        <div class="navbar-header">
            <a href="/" id="logo-omni">
                <img src="https://omnifacil2.omni.com.br/imagens/logo_omni_fundo_azul.png">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-1" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Grupo
                    de Produtos </a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Grupo
                    de Ações </a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Faixa
                    de Atraso </a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Parametrização
                    de Alçada </a></li>
            </ul>
        </div>
    </nav>
    <nav>
        <ol class="breadcrumb crumb">
            <li>
                <a href="/"><i class="fas fa-home"> </i> Home</a>
            </li>
            <li class="active">
                <span>Grupo de produto</span>
            </li>
        </ol>
    </nav>


</header>

<main>

    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x-title ">
                <h2 class="text-center">Grupo de produto</h2>
            </div>

            <div class="x_content text-center">

                <section class="my-5 col-md-12 text-center">
                    <fieldset>
                        <div class="row">
                            <div class="form-group text-left col-md-5 ">
                                <label class="marginform control-label" >Nome do novo grupo:</label>
                                <input readonly th:value="${grupo.nomeGrupo}" type="text" class="form-control" id="inputD">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group text-left col-md-5 my-5">
                                <label class=" marginform control-label">Produtos disponíveis para o grupo</label>
                                <input class="form-control" type="text">
                                <select readonly class="form-control" multiple="" size="10" id="selectOne">
                                    <option th:each="produtos : ${produtos}" th:value="${produtos.idProduto}" th:text="${produtos.nomeProduto}"></option>
                                </select>
                            </div>

                            <div class="col-md-2"></div>

                            <div class="form-group text-left col-md-5 my-5">
                                <label class=" marginform control-label">Sistema que usuário tem acesso</label>
                                <select readonly class="form-control" multiple="" size="12" id="selectTwo" name="produto">
                                    <option th:each="grupo : ${produtosUsados}" th:value="${grupo.idProduto}" th:text="${grupo.nomeProduto}"></option>
                                </select>
                            </div>

                            <div class="col-md-12 text-center">
                                <div>
                                    <a href="/">
                                        <button type="button" class="btn btn-default">Cancelar</button>
                                    </a>
                                    <button type="button" class="btn btn-primary">Editar Grupo</button>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </section>
            </div>
        </div>
    </div>

</main>

<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.js"></script>

</body>

</html>