@charset "UTF-8";
/* Layout */
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
/* Omni Colors */
/* Theme Colors */
/*Record colors*/
/* Responsive adjustments */
/* BODY */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-bottom: 50px; }

a, .btn {
  transition: all 0.3s ease-in 0s; }

.btn {
  margin-bottom: 10px; }

/* Button - Groups */
.btn-group-vertical .btn {
  margin-bottom: 0px; }

/* 5 Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

.operator-panel .dl-horizontal dt {
  float: left; }

/* PAINEL COM SCROLL */
.x_content.scroll-content {
  overflow-x: hidden;
  min-height: 13vh;
  max-height: 38vh; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.modal-footer .btn + .btn {
  margin-bottom: 10px; }

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  right: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-bottom: 0; }
  .sticky .navbar {
    background: #002c7c;
    color: #ffffff;
    border-radius: 0;
    border: none;
    height: auto;
    margin: 0; }
    .sticky .navbar a.scroll {
      color: #ffffff; }
    .sticky .navbar .dropdown .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s; }
      .sticky .navbar .dropdown .dropdown-toggle:hover {
        transition: all 0.3s ease-in 0s;
        background-color: #dd5f13;
        background: #ff7e2f;
        background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown.open .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown .dropdown-menu {
      padding: 0px 0 5px; }
      .sticky .navbar .dropdown .dropdown-menu a {
        color: #002c7c;
        font-weight: bold;
        border-top: 1px solid #e4e4e4;
        line-height: 150%;
        padding: 7px 20px;
        margin: 0;
        background: #fff; }
    .sticky .navbar a {
      transition: all 0.3s ease-in 0s; }

.navbar {
  background: #002c7c;
  color: #ffffff;
  border: none;
  height: auto;
  margin: 0; }
  .navbar a.scroll {
    color: #ffffff; }
  .navbar .dropdown .dropdown-toggle {
    color: #ffffff;
    transition: all 0.3s ease-in 0s; }
    .navbar .dropdown .dropdown-toggle:hover, .navbar .dropdown .dropdown-toggle:focus {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown.open .dropdown-toggle {
    color: white !important;
    transition: all 0.3s ease-in 0s;
    background-color: #dd5f13;
    background: #ff7e2f;
    background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown .dropdown-menu {
    padding: 0px 0 5px; }
    .navbar .dropdown .dropdown-menu a {
      color: #002c7c;
      font-weight: bold;
      border-top: 1px solid #e4e4e4;
      line-height: 150%;
      padding: 7px 20px;
      margin: 0;
      background: #fff; }
      .navbar .dropdown .dropdown-menu a:hover {
        color: white;
        background: #dd5f13; }

.x_panel {
  position: relative;
  width: 100%;
  display: inline-block;
  background: #fff;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  margin: 10px auto 10px;
  padding: 0px;
  border: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease; }
  .x_panel .x-title {
    background: #002c7c;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: #ffffff; }
    .x_panel .x-title h2 {
      font-size: 2rem;
      font-weight: bold;
      padding: 5px 0 5px 10px;
      margin: 0;
      color: #ffffff; }
  .x_panel .x_content {
    padding: 10px; }
    .x_panel .x_content h2, .x_panel .x_content h3, .x_panel .x_content h4, .x_panel .x_content h5, .x_panel .x_content h6 {
      margin: 10px 0; }

.panel {
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  border: none; }
  .panel.panel-danger .panel-heading {
    background: #dd5f13;
    color: #ffffff; }
  .panel.panel-warning .panel-heading {
    background: #EA9908;
    color: #ffffff; }
  .panel.panel-primary .panel-heading {
    background: #002d74;
    color: #ffffff; }
  .panel.panel-info .panel-heading {
    background: #004bc1;
    color: #ffffff; }
  .panel.panel-default .panel-heading {
    background: #7c7c7c;
    color: #ffffff; }
  .panel.panel-success .panel-heading {
    background: #3c763d;
    color: #ffffff; }

/* Elementos */
.table > tbody > tr > td {
  vertical-align: middle; }

.table-hover > tbody > tr:hover {
  background-color: #e4e4e4; }

/* SISTEMAS - PARA ATIVAR APENAS REMOVA O COMENTÁRIO */
/*Fonts*/
/* Theme Colors */
/*Record colors*/
/* Omni Colors */
/* Onmni Colors Aplied*/
.fcBlue {
  color: #002c7c !important; }

/* Responsive adjustments */
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f5f6fa; }

#cobranca-amigavel,
.container-fluid {
  transition: all 0.3s ease-in 0s; }

/* 5 Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

/* Tables */
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px 3px;
  display: table-cell;
  vertical-align: middle; }

.table {
  border-bottom: 1px solid #ddd; }

.table tr.group,
.table tr.group:hover,
.table tr.group:nth-of-type(odd),
.table tr.group:nth-of-type(even) {
  color: #002c7c;
  text-align: left;
  font-size: 2rem; }

.table tr.group td,
.table tr.group:hover td,
.table tr.group:nth-of-type(odd) td,
.table tr.group:nth-of-type(even) td {
  padding-left: 20px; }

.dataTables_info .table > tbody > tr > td,
.dataTables_info .table > tbody > tr > th,
.dataTables_info .table a {
  color: #333; }

.table > thead {
  background: #ecf0f3;
  color: #002c7c; }

.dataTables_wrapper {
  font-family: Verdana, Arial;
  font-size: 11px;
  margin: 10px 0 0; }

.dataTables_wrapper #results_filter,
.dataTables_wrapper #results_paginate {
  margin: 0 10px 0 0; }

.dataTables_wrapper #results_info {
  margin: 0 0 0 10px;
  text-align: initial; }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  top: 30%; }

.block-input {
  display: block;
  margin: 5px auto !important; }

.modal .modal-bigger {
  width: 90%; }

.modal .modal-header {
  background: #002c7c;
  border-radius: 4px 4px 0 0; }

.modal .modal-header h4,
.modal .modal-header .close span {
  color: #ffffff; }

.modal h3 {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 600;
  color: #002c7c; }

.modal table thead th {
  text-align: center; }

.modal #add-phone,
.modal #add-email,
.modal #add-address,
.modal #expanses {
  display: none; }

.modal .dataTables_filter {
  width: auto; }

.modal .dataTables_filter input.form-control {
  width: 71%; }

.modal .x_panel {
  background-color: #ffffff; }

.modal .x_panel .x_title {
  border: none; }

.modal .x_panel h2 {
  color: #333; }

.modal .modal-body {
  max-height: calc(100vh - 212px);
  overflow-y: auto; }

.modal .operator-panel {
  margin: 0 0px 0; }

.modal .operator-panel.panel-header .x_panel {
  height: 30px; }

.modal .operator-panel .x-content {
  padding: 0px 10px 0px; }

.modal .operator-panel .x_panel .table th {
  text-align: left; }

.modal .quotas p {
  margin: 0;
  padding: 2px; }

.modal .title {
  display: block;
  font-weight: 700; }

.checkbox {
  margin-top: 30px; }

@media only screen and (max-width: 767px) {
  .checkbox {
    margin-top: 10px !important; } }

/*AJUSTES GOBAIS DO TEMA*/
.canvasjs-chart-credit {
  display: none !important; }

.first {
  padding-left: 0px; }

.last {
  padding-right: 0px; }

.marginBm10 {
  margin: 0px 0 -10px 0px !important; }

.row-buttons {
  margin-top: 20px;
  text-align: center; }

.marginT0 {
  margin-top: 0px !important; }

.marginT5 {
  margin-top: 5px !important; }

.marginT15 {
  margin-top: 15px !important; }

.marginT20 {
  margin-top: 20px !important; }

.marginT25 {
  margin-top: 25px !important; }

.marginT30 {
  margin-top: 30px !important; }

.marginTB0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.text-danger {
  font-weight: 700 !important; }

.marginT7 {
  margin-top: 7px; }

.marginT10 {
  margin: 10px 0 0 !important; }

.marginBT15 {
  margin: 15px 0 !important; }

.marginBT20 {
  margin: 20px 0 !important; }

.marginB15, #authorizer-record .x_panel .x-content p.hilight {
  margin-bottom: 15px !important; }

.marginB0 {
  margin-bottom: 0px !important; }

.marginB30 {
  margin-bottom: 30px !important; }

.marginB50 {
  margin-bottom: 50px !important; }

.marginTB-10 {
  margin: 0 0 -10px !important; }

.input-margin {
  margin-top: 27px; }

.block {
  display: block;
  width: 100%; }

.paymentInfo,
.paymentSplit {
  display: none; }

.copy {
  cursor: pointer; }

@-webkit-keyframes blinker {
  from {
    color: #ce3305; }
  to {
    color: #717171; } }

@keyframes blinker {
  from {
    color: #ce3305; }
  to {
    color: #717171; } }

@-moz-keyframes blinker {
  from {
    color: #ce3305; }
  to {
    color: #717171; } }

@-webkit-keyframes blinkerB {
  from {
    color: #ce3305; }
  to {
    color: #ffffff; } }

@keyframes blinkerB {
  from {
    color: #ce3305; }
  to {
    color: #ffffff; } }

@-moz-keyframes blinkerB {
  from {
    color: #ce3305; }
  to {
    color: #ffffff; } }

.blink {
  font-size: 1.2rem !important;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -moz-animation-name: blinker;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
  animation-name: blinker;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

.blinkB {
  font-size: 1.2rem !important;
  -webkit-animation-name: blinkerB;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -moz-animation-name: blinkerB;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
  animation-name: blinkerB;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

.onoffswitch {
  position: relative;
  width: 70px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 2px solid #E3E3E3;
  border-radius: 30px;
  background-color: #717171;
  transition: background-color 0.3s ease-in; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 38px;
  border: 2px solid #E3E3E3;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #002c7c; }

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #002c7c; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

.dash-icons {
  margin: 2px -5px 0px 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.dash-icons li {
  background-color: #fff;
  padding: 5px;
  margin: 5px 5px 5px 0;
  flex-grow: 1;
  width: auto;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5); }

.dash-icons li:first-child {
  margin-left: 0;
  width: auto; }

.dash-icons li:last-child {
  margin-right: 5px; }

.dash-icons li .row span.title {
  margin: 10px 0 0; }

.dash-icons span,
.dash-icons small {
  display: block;
  font-weight: 700;
  font-size: 1.1rem; }

.dash-icons span.info {
  font-size: 1.4rem; }

.dash-credit {
  width: auto; }

.dash-credit hr {
  margin: 10px 0; }

.dash-credit h3 {
  margin: 0 0 5px;
  font-size: 1.7rem;
  color: #122A73; }

.dash-credit h3 i {
  font-size: 1.4rem !important;
  border-radius: 50px;
  background-color: #122A73;
  color: #fff;
  height: 26px;
  width: 26px;
  line-height: 180%;
  margin: 5px 5px;
  text-align: center;
  margin-top: 6px; }

.dash-credit .list {
  margin-top: 5px;
  width: 100%; }

.dash-credit .list li {
  padding: 3px 10px 3px 0;
  flex: 1; }

.icon-signal i {
  font-size: 2.8rem !important;
  border-radius: 50px;
  background-color: #122A73;
  color: #fff;
  height: 46px;
  width: 46px;
  line-height: 160%;
  margin: 5px 10px 5px 0px;
  text-align: center;
  margin-top: 6px; }

.action-buttons,
.bts-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

form .btn-group {
  width: 100%; }

form .btn-group button.btn {
  width: auto; }

form .btn-group button.btn.btn-default.active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

form .btn-group.width33 .btn {
  width: 33%; }

form .input-group {
  margin-bottom: 0; }

form .input-group .input-group-btn button {
  margin-bottom: 0px;
  margin-right: 0px; }

table .btn-group {
  width: 100%; }

table .btn-group button.btn {
  width: 100%; }

.operator-panel .nav > li > a {
  z-index: 10; }

.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > thead > tr > td.danger,
.table > thead > tr > th.danger {
  background-color: #f2dede !important; }

canvas {
  margin: 0 auto; }

.modal .input-box {
  background-color: #f1f1f1;
  color: #dd5f13;
  padding: 0;
  height: 35px;
  border-radius: 5px; }

.modal .input-box + .input-box {
  margin-top: 2.5rem; }

.panel {
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  border: none; }

.panel .panel-heading {
  padding: 10px 15px; }

.panel .panel-heading a {
  width: 100%;
  display: block; }

.panel.panel-danger .panel-heading {
  background: #dd5f13;
  color: #ffffff; }

.panel.panel-warning .panel-heading {
  background: #EA9908;
  color: #ffffff; }

.panel.panel-primary .panel-heading {
  background: #002d74;
  color: #ffffff; }

.panel.panel-info .panel-heading {
  background: #004bc1;
  color: #ffffff; }

.panel.panel-default .panel-heading {
  background: #4b4b4b;
  color: #ffffff; }

.panel.panel-success .panel-heading {
  background: #3c763d;
  color: #ffffff; }

.title {
  font-weight: 700;
  font-size: 1.4rem;
  display: block;
  color: #333; }

.info {
  color: #002d74;
  font-weight: bold; }

.info small {
  display: inline-block; }

.head-title {
  font-weight: 700 !important;
  font-size: 1.8rem !important;
  display: block;
  color: #002d74; }

.checklist .form-group input[type="checkbox"] {
  display: none; }

.checklist .form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px; }

.checklist .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none; }

.checklist .form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block; }

.checklist .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
  color: #002d74; }

.checklist .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none; }

.checklist label.btn-default {
  background-color: #fff;
  box-shadow: none;
  font-weight: bold; }

.checklist label.btn-default:first-child {
  width: 15%; }

.checklist label.btn-default:last-child {
  width: 85%;
  text-align: left; }

.nav-md,
.nav-sm {
  color: #072F77; }

.nav-md .x_panel,
.nav-sm .x_panel {
  margin: 0 0 10px; }

.nav-md .toggle,
.nav-sm .toggle {
  padding: 10px 0; }

.nav-md .side-menu,
.nav-sm .side-menu {
  width: 100%;
  height: auto;
  background: none;
  border: none; }

.nav-md .left_col,
.nav-sm .left_col {
  z-index: 500 !important; }

.nav-md .left_col hr,
.nav-sm .left_col hr {
  margin-top: 20px;
  margin-bottom: 10px; }

.nav-md .menu_section,
.nav-sm .menu_section {
  margin-bottom: 0; }

.nav-md .menu_section .nav.side-menu,
.nav-sm .menu_section .nav.side-menu {
  margin-top: 0px !important; }

.nav-md .menu_section .nav.side-menu > li.active, .nav-md .menu_section .nav.side-menu > li:hover,
.nav-sm .menu_section .nav.side-menu > li.active,
.nav-sm .menu_section .nav.side-menu > li:hover {
  border-right: 5px solid #fff; }

.nav-md .menu_section .nav.side-menu > li.active > a, .nav-md .menu_section .nav.side-menu > li:hover > a,
.nav-sm .menu_section .nav.side-menu > li.active > a,
.nav-sm .menu_section .nav.side-menu > li:hover > a {
  background: #dd5f13; }

.nav-md .menu_section .nav.side-menu > li.active > a .label.label-danger, .nav-md .menu_section .nav.side-menu > li:hover > a .label.label-danger,
.nav-sm .menu_section .nav.side-menu > li.active > a .label.label-danger,
.nav-sm .menu_section .nav.side-menu > li:hover > a .label.label-danger {
  background: #fff;
  color: #ce3305; }

.nav-md .navbar-right,
.nav-sm .navbar-right {
  width: auto; }

.nav-md nav,
.nav-sm nav {
  color: #002c7c !important; }

.nav-md .time-list,
.nav-sm .time-list {
  margin: 8px 0 0;
  padding: 0; }

.nav-md .time-list li,
.nav-sm .time-list li {
  margin: 0;
  padding: 0 7px 0;
  border-right: 1px solid #ddd; }

.nav-md .time-list li span,
.nav-sm .time-list li span {
  font-weight: 700; }

.nav-md .barra,
.nav-sm .barra {
  top: 0; }

.nav-md .well,
.nav-sm .well {
  padding: 10px 19px;
  margin-bottom: 5px; }

.nav-md hr,
.nav-sm hr {
  margin: 10px 0; }

.nav-md .table-compare tr td,
.nav-sm .table-compare tr td {
  padding: 3px; }

.nav-md .table-compare tr td .form-group,
.nav-sm .table-compare tr td .form-group {
  margin-bottom: 0; }

.nav-md .table-compare tr td .form-control,
.nav-sm .table-compare tr td .form-control {
  margin-bottom: 0px; }

.nav-md .table-compare tr td .form-control.input-user, .nav-md .table-compare tr td .form-control.input-crivo,
.nav-sm .table-compare tr td .form-control.input-user,
.nav-sm .table-compare tr td .form-control.input-crivo {
  border: 0px;
  box-shadow: none; }

.nav-md .table-compare tr td .form-control.input-user, .nav-md .table-compare tr td .form-control.input-crivo,
.nav-sm .table-compare tr td .form-control.input-user,
.nav-sm .table-compare tr td .form-control.input-crivo {
  background: none !important;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
  margin: -2px 0 0 0;
  height: auto; }

.nav-md .table-compare tr td .form-control.input-validate,
.nav-sm .table-compare tr td .form-control.input-validate {
  background: none !important;
  font-size: 1.2rem;
  font-weight: 300;
  border: solid 1px #ccc;
  padding: 0px 15px; }

.nav-md .table-compare tr td .form-control-feedback,
.nav-sm .table-compare tr td .form-control-feedback {
  margin-top: 5px !important;
  top: 0; }

.nav-md .table-compare tr td .btn,
.nav-sm .table-compare tr td .btn {
  margin-top: 5px; }

.nav-md .table-compare tr.has-success .form-group .form-control.input-user,
.nav-md .table-compare tr.has-success .form-group .form-control.input-crivo,
.nav-md .table-compare tr.has-success .form-group .form-control.input-user,
.nav-sm .table-compare tr.has-success .form-group .form-control.input-user,
.nav-sm .table-compare tr.has-success .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-success .form-group .form-control.input-user {
  color: #bbb !important; }

.nav-md .table-compare tr.has-success .form-group .form-control-feedback,
.nav-sm .table-compare tr.has-success .form-group .form-control-feedback {
  color: #0cc082; }

.nav-md .table-compare tr.has-success .form-group label.title,
.nav-sm .table-compare tr.has-success .form-group label.title {
  color: #bbb !important; }

.nav-md .table-compare tr.has-danger .form-group .form-control.input-crivo,
.nav-md .table-compare tr.has-danger .form-group .form-control-feedback,
.nav-sm .table-compare tr.has-danger .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-danger .form-group .form-control-feedback {
  color: #ce3305; }

.nav-md .table-compare tr.has-danger .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-danger .form-group .form-control.input-crivo {
  border: 1px solid #ce3305; }

.nav-md .table-compare tr.has-warning .form-group .form-control.input-crivo,
.nav-md .table-compare tr.has-warning .form-group .form-control-feedback,
.nav-sm .table-compare tr.has-warning .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-warning .form-group .form-control-feedback {
  color: #ff720a; }

.nav-md .table-compare tr.has-warning .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-warning .form-group .form-control.input-crivo {
  border: 1px solid #ff720a; }

.nav-md .table-compare tr.has-danger .form-group .form-control.input-crivo, .nav-md .table-compare tr.has-warning .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-danger .form-group .form-control.input-crivo,
.nav-sm .table-compare tr.has-warning .form-group .form-control.input-crivo {
  padding: 2px 7px;
  margin: -14px 0 0 10px; }

.nav-md .form-group,
.nav-sm .form-group {
  margin-bottom: 0; }

.nav-md .form-group label.empty,
.nav-sm .form-group label.empty {
  height: 20px; }

.nav-md .form-group label.justify-label,
.nav-sm .form-group label.justify-label {
  text-indent: -9999px; }

.nav-sm .scroll-view hr,
.nav-sm .scroll-view .profile {
  display: none; }

.nav-sm .nav.side-menu li a {
  padding: 10px 5px 0; }

.nav-sm .nav.side-menu li a i {
  font-size: 20px !important; }

.list-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0; }

#new-menu {
  font-family: 'Quicksand', sans-serif;
  background-color: #122A73;
  margin-bottom: 0;
  border-radius: 0; }

#new-menu .navbar-header {
  background: none; }

#new-menu .navbar-default .navbar-collapse,
#new-menu .navbar-default .navbar-form {
  background: none; }

#new-menu #logo-omni img {
  max-width: 120px;
  padding: 9px 10px 0px 0px; }

#new-menu a {
  color: #fff !important;
  transition: all 0.3s ease;
  font-weight: bold;
  line-height: 300%;
  margin: 0;
  font-size: 14px;
  padding: 15px; }

#new-menu .nav.navbar-nav > li > a {
  color: #fff !important;
  transition: all 0.3s ease;
  font-weight: bold;
  line-height: 300%;
  margin: 0;
  font-size: 14px;
  padding: 15px; }

#new-menu .nav.navbar-nav > li > a:hover {
  background-color: #dd5f13;
  background: #ff7e2f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
  background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
  background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }

#new-menu .nav.navbar-nav > .open > a {
  background-color: #dd5f13;
  background: #ff7e2f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
  background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
  background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }

#new-menu .nav.navbar-nav li ul.dropdown-menu li a {
  color: #002d74 !important;
  border-top: 1px solid #e4e4e4;
  line-height: 150%;
  padding: 7px 20px;
  margin: 0;
  background: #fff; }

#new-menu .nav.navbar-nav li ul.dropdown-menu li a:hover {
  background-color: #dd5f13;
  color: #ffffff !important; }

#new-menu .nav.navbar-nav li ul.dropdown-menu li:hover a:after {
  border-left-color: #717271; }

#new-menu .nav.navbar-nav li ul.dropdown-menu li:first-child a {
  border: none; }

#new-menu .nav.navbar-nav > .open > a#seleciona-agente {
  background: none; }

#new-menu .navbar-header .navbar-toggle {
  margin-top: 18px;
  border-color: #FFF; }

#new-menu .navbar-header .navbar-toggle:focus, #new-menu .navbar-header .navbar-toggle:hover {
  background-color: #fff; }

#new-menu .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff !important; }

#new-menu .navbar-header .navbar-toggle:focus .icon-bar,
#new-menu .navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #002d74 !important; }

#new-menu .img-circle {
  width: 30px; }

#new-menu .navbar-right {
  margin-right: 0px; }

#new-menu #seleciona-agente {
  line-height: 130%;
  display: block;
  cursor: pointer;
  padding: 21px 5px;
  font-size: 12px; }

#new-menu span#img-seleciona {
  padding-top: 6px;
  position: absolute;
  right: -20px;
  top: 24px; }

@media (max-width: 768px) {
  #new-menu .nav.navbar-nav > li > a,
  #new-menu .nav.navbar-nav > li:last-child > a {
    line-height: 120%;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #556598; }
  #new-menu #logo-omni img {
    max-width: 110px;
    padding: 9px 10px 0px 0px; }
  #new-menu .navbar-header .navbar-toggle {
    margin: 15px 10px; }
  #new-menu .navbar-nav {
    margin: 0px -15px 0px; }
  #new-menu .dropdown-menu {
    padding: 0px 0; }
  #new-menu .dropdown-menu a {
    margin: 0px 6px;
    padding: 10px 10px; }
  #new-menu li.dropdown.dropdown-submenu {
    background: #fff; }
  #new-menu span#img-seleciona {
    padding-top: 6px;
    position: absolute;
    right: 40px;
    top: 14px; }
  #new-menu #seleciona-agente {
    padding: 21px 15px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #new-menu .select-agent {
    width: 130px; }
  li.agent {
    width: 120px; } }

.dropdown-submenu:hover > a:after {
  border-left-color: #EA6620; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #EA6620;
  margin-top: 5px;
  margin-right: -10px; }

.navbar-nav .open .dropdown-menu {
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  box-shadow: none;
  right: auto;
  left: 0;
  width: auto; }

a,
button {
  transition: all 0.3s ease; }

/* AJUSTE MENU USUÁRIO */
.navbar-right ul.dropdown-menu.dropdown-usermenu {
  right: 0px !important;
  left: auto; }

#mega-menu ul {
  padding: 0; }

#mega-menu li {
  list-style: none; }

#mega-menu a,
#mega-menu title {
  width: 100%;
  padding: 0px;
  font-weight: bold;
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin: 0 0 10px;
  color: #122A73;
  /* BACKGROUND */
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #e7e7e7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e7e7e7));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #e7e7e7 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #e7e7e7 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #e7e7e7 100%);
  box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.125);
  border-radius: 5px; }

#mega-menu a {
  width: 100%; }

#mega-menu a:hover {
  color: #fff;
  /*BACKGROUND*/
  background: #294baf;
  background: -moz-linear-gradient(top, #294baf 0%, #122a73 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #294baf), color-stop(100%, #122a73));
  background: -webkit-linear-gradient(top, #294baf 0%, #122a73 100%);
  background: -o-linear-gradient(top, #294baf 0%, #122a73 100%);
  background: -ms-linear-gradient(top, #294baf 0%, #122a73 100%);
  background: linear-gradient(to bottom, #294baf 0%, #122a73 100%);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

#mega-menu a:hover i {
  color: #dd5f13; }

#mega-menu a i {
  padding: 5px; }

#mega-menu a span {
  font-size: 1.5rem;
  text-align: center;
  white-space: normal;
  width: 100%;
  padding: 10px; }

@media (min-width: 1200px) {
  #mega-menu a {
    height: 60px; } }

@media (min-width: 992px) {
  #mega-menu a {
    height: 60px; }
  #mega-menu {
    margin-top: 20px; } }

@media (min-width: 768px) {
  #mega-menu a {
    height: 80px; } }

@media (max-width: 768px) {
  #mega-menu {
    margin-top: 20px; }
  #mega-menu a {
    height: 60px; }
  #mega-menu a i {
    display: none; } }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/*--------------- BREADCRUMB -------------------*/
.breadcrumb {
  display: block;
  font-family: 'Quicksand', sans-serif;
  background: none; }

.breadcrumb-arrow {
  line-height: 36px;
  list-style: none;
  padding: 4px 15px;
  margin: 0 -5px;
  background: #fff; }

.breadcrumb-arrow li:first-child a {
  text-indent: -99999px; }

.breadcrumb-arrow li:first-child a:before {
  content: "\f015";
  font-family: 'FontAwesome';
  padding-right: 5px; }

.breadcrumb-arrow li:last-child {
  font-weight: bold; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
  display: none !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  text-align: left; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  top: 7px;
  left: 4px;
  height: 12px;
  width: 15px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid #c9d7e7;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 11px;
  content: '+';
  background-color: #c9d7e7;
  font-size: 2rem;
  font-weight: 700;
  padding: 2px 0 0 0; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '-';
  background-color: #d33333; }

table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
  display: none; }

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px; }

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px; }

table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer; }

table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #31b131; }

table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: '-';
  background-color: #d33333; }

table.dataTable > tbody > tr.child {
  padding: 0.5em 0; }

table.dataTable > tbody > tr.child:hover {
  background: transparent !important; }

table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0; }

table.dataTable > tbody > tr.child ul.dtr-details li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0; }

table.dataTable > tbody > tr.child ul.dtr-details li:first-child {
  padding-top: 0; }

table.dataTable > tbody > tr.child ul.dtr-details li:last-child {
  border-bottom: none; }

table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold; }

div.dtr-modal {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em; }

div.dtr-modal div.dtr-modal-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6); }

div.dtr-modal div.dtr-modal-content {
  position: relative;
  padding: 1em; }

div.dtr-modal div.dtr-modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12; }

div.dtr-modal div.dtr-modal-close:hover {
  background-color: #eaeaea; }

div.dtr-modal div.dtr-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 767px) {
  div.dtr-modal div.dtr-modal-display {
    width: 95%; } }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper {
  /* -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff; */
  background: #fff; }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../images/controls.png") no-repeat 0 -32px; }

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("../images/controls.png") no-repeat -43px -32px; }

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 500; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("../images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("../images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.attendence-button {
  position: fixed;
  right: -52px;
  top: 150px;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 3px 3px 0 0;
  padding: 3px 10px;
  background: #002c7c;
  color: #ffffff;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari */
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all 0.3s ease-in 0s; }

.attendence-button:hover {
  background: #002c7c;
  color: #ffffff; }

@media only screen and (max-width: 767px) {
  .attendence-button {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .attendence-button {
    display: none; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 40px 0px 0;
  z-index: 101; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .x_panel {
  padding: 5px 10px;
  margin: 5px; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0 0 0 0;
  font-size: 3rem;
  padding: 2px 20px 0 0px;
  line-height: 100%; }

.siderbars {
  overflow: hidden !important;
  padding-bottom: 50px; }

.siderbars .side {
  width: 25%;
  background-color: #f5f6fa;
  height: 100vh;
  right: -25%;
  padding: 10px;
  position: fixed;
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  z-index: 9999; }

.siderbars .side.open {
  right: 0%; }

.siderbars .side .x_panel {
  box-shadow: none;
  border: 1px solid #eee; }

.siderbars .side .panel-title > a {
  margin: 0 0px 0 -10px;
  width: 90%;
  display: block; }

.siderbars .side .panel-title > a i {
  margin: -10px -50px 0 0; }

.siderbars .side .dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: none;
  white-space: pre-wrap;
  margin-bottom: 5px; }

.siderbars .main {
  width: 98%; }

.siderbars .main.open {
  width: 73%; }

.siderbars .main,
.siderbars .side {
  transition: all 0.3s ease-in 0s;
  top: 0px; }

.siderbars .butons-access {
  top: 30%;
  left: -30px;
  position: absolute;
  width: 30px;
  right: 0; }

.siderbars .butons-access .list-group {
  margin: 0;
  border-radius: 0; }

.siderbars .butons-access .list-group-item {
  width: 30px;
  height: 30px;
  padding: 4px 10px;
  margin-bottom: 1px;
  font-weight: 700;
  text-align: left;
  text-decoration: none !important;
  background: #002c7c;
  color: #ffffff;
  border: none;
  overflow: hidden;
  display: block;
  outline: none; }

.siderbars .butons-access .list-group-item.active {
  background: #dd5f13; }

.siderbars .butons-access .list-group-item:first-child {
  border-radius: 5px 0 0 0; }

.siderbars .butons-access .list-group-item:last-child {
  border-radius: 0 0 0 5px; }

.siderbars .butons-access .list-group-item:hover {
  width: 120px;
  margin-left: -90px;
  background: #ee7b35; }

.siderbars .butons-access .list-group-item i {
  padding: 5px 0; }

.siderbars .scroll-content {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 84vh;
  max-width: 90vh;
  padding-right: 5px; }

.dark {
  background: #000;
  color: #fff; }

.dark .container-fluid {
  background: #000; }

.dark .header .navbar,
.dark #buttonsBar,
.dark .dash-icons li,
.dark .x_panel {
  background: #222; }

.dark .navbar-default,
.dark .navbar-default .navbar-collapse,
.dark .navbar-default .navbar-form {
  border: none;
  border-color: #333; }

.dark .scroll {
  background: #dd5f13;
  border: none; }

.close-side {
  color: #dd5f13;
  position: absolute;
  font-size: 2rem;
  right: 20px;
  top: 22px;
  z-index: 99; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.omni-profile p {
  line-height: 100%; }

.omni-profile h2 {
  padding: 15px 0 8px !important;
  color: #002c7c !important; }

.omni-profile .image-detail {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: url(https://omnifacil2.omni.com.br/bs/images/user.png);
  margin: 0px auto 0;
  z-index: 1; }

.omni-profile .btn-change-image {
  border-radius: 50%;
  bottom: 0px;
  right: 5px;
  z-index: 2;
  position: absolute;
  display: block; }

.btn.file-btn {
  background-color: #dd5f13;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  cursor: pointer; }

.btn.file-btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  opacity: 0; }

#form-rede a.btn {
  color: #fff;
  border-radius: 30px;
  width: auto;
  height: 34px;
  display: inline-block; }

#form-rede a.btn-remove {
  color: #666; }

#form-rede a.btn-remove:hover {
  color: #666;
  background-color: #eee; }

#form-rede a.btn i {
  top: 1px;
  left: -3px;
  display: inline-block;
  position: relative; }

#form-rede .x_panel {
  padding: 0px 0px; }

#form-rede .x_title,
#form-rede .x-content {
  padding: 10px; }

#form-rede .x_title {
  border-bottom: 1px solid #666; }

#form-rede h2 {
  font-weight: bold; }

#form-rede .collapse-link {
  color: #666;
  background-color: #fff; }

#form-rede .badge-success {
  background-color: #fff;
  color: #5cb85c; }

#form-rede .img-circle {
  width: 100%; }

#form-rede input {
  margin-bottom: 10px;
  border: none; }

#form-rede label {
  display: none; }

#form-rede .form-inputs {
  margin-top: 0px; }

#form-rede hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee; }

#user-image .modal-body {
  height: calc(100vh - 150px) !important; }

/* SOCIAL HEADER */
.social-google .x_title {
  background-color: #d34836;
  color: #fff !important; }

.social-linkedin .x_title {
  background-color: #0e76a8;
  color: #fff !important; }

.social-facebook .x_title {
  background-color: #3b5998;
  color: #fff !important; }

.social-facebook .x_title .collapse-link {
  color: #3b5998; }

.btn-facebook {
  background-color: #3b5998; }

.btn-facebook:hover {
  background-color: #FFF;
  color: #3b5998 !important; }

.btn-google {
  background-color: #d34836; }

.btn-google:hover {
  background-color: #fff;
  color: #d34836 !important; }

.btn-linkedin {
  background-color: #0e76a8; }

.btn-linkedin:hover {
  background-color: #fff;
  color: #0e76a8 !important; }

.btn:hover {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/*Nova Tabela*/
.new-table thead,
.new-table .dataTable thead {
  background: #ffffff;
  border: none;
  font: normal 1.8rem/100% 'Quicksand';
  text-transform: uppercase; }

.new-table thead tr th,
.new-table .dataTable thead tr th {
  border: none;
  text-align: left !important; }

.new-table thead tr th:after,
.new-table .dataTable thead tr th:after {
  font-size: 1.2rem; }

.new-table thead tr th:first-child, .new-table thead tr th:last-child,
.new-table .dataTable thead tr th:first-child,
.new-table .dataTable thead tr th:last-child {
  text-align: center !important; }

.new-table tbody,
.new-table .dataTable tbody {
  font-size: 1.2rem; }

.new-table tbody tr td,
.new-table .dataTable tbody tr td {
  padding: 15px 5px;
  color: #1a3b60;
  font-weight: 400; }

.new-table tbody tr td:first-child, .new-table tbody tr td:last-child,
.new-table .dataTable tbody tr td:first-child,
.new-table .dataTable tbody tr td:last-child {
  text-align: center !important; }

.new-table tbody tr:nth-child(odd),
.new-table .dataTable tbody tr:nth-child(odd) {
  background: #fcfcfc; }

.new-table tbody tr:hover,
.new-table .dataTable tbody tr:hover {
  background: #e8f4f9 !important; }

.new-table .btn,
.new-table .dataTable .btn {
  border-radius: 50%;
  padding: 3px 0 0;
  width: 30px;
  height: 30px;
  background: #c9d7e7;
  color: #fff;
  border: none;
  font-size: 1.6rem; }

.new-table .btn:hover,
.new-table .dataTable .btn:hover {
  background: #002c7c;
  color: #ffffff; }

.new-table .btn-group .dropdown-toggle,
.new-table .dataTable .btn-group .dropdown-toggle {
  width: 30px;
  height: 30px;
  padding: 0; }

.new-table.dtr-inline.collapsed > tbody > tr > td:first-child:before,
.new-table.dtr-inline.collapsed > tbody > tr > th:first-child:before,
.new-table .dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
.new-table .dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  top: 34% !important; }

table .btn-group,
table .dropdown-menu {
  right: 0;
  clear: both; }

table .btn-group a,
table .dropdown-menu a {
  padding: 10px 10px; }

table .btn-group .divider,
table .dropdown-menu .divider {
  margin: 0px 0 !important; }

.container-fluid {
  background-color: #f5f6fa;
  min-height: calc(100vh - 75px); }

.status,
.legend {
  border-radius: 50%;
  padding: 3px 0 0;
  width: 30px;
  height: 30px;
  background: #002c7c;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  display: inline-grid;
  margin: 5px 5px 5px 0;
  font-size: 0rem; }

.status:before,
.legend:before {
  color: #ffffff;
  font-family: 'FontAwesome';
  text-indent: 0;
  display: block;
  text-align: center;
  line-height: 138%;
  font-size: 1.8rem; }

.legends .label.label-danger {
  background-color: #ebcccc !important; }

.legends .label.label-danger.indicator {
  background-color: #d43f3a !important; }

.st-wait {
  background-color: #013188;
  color: #fff; }

.st-wait:before {
  content: "\f017"; }

.st-pendency {
  background-color: #f9430d;
  color: #fff;
  text-align: center;
  line-height: 150%; }

.st-pendency i {
  font-size: 2rem; }

.st-paid {
  background-color: #0cc082;
  color: #fff; }

.st-paid:before {
  content: "\f0d6"; }

.st-refused {
  background-color: #ce3305; }

.st-refused:before {
  content: "\f057"; }

.st-analysis {
  background-color: #d4ae00; }

.st-analysis:before {
  content: "\f002"; }

.st-scheduled {
  background-color: #0cc082; }

.st-scheduled:before {
  content: "\f073"; }

.ted {
  background-color: #ce3305; }

.ted:before {
  content: "\f19c"; }

.score {
  background-color: #aebecc;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  padding: 1px 0 0 0;
  margin: -3px 0 0 0px;
  text-indent: -99999px; }

.danger {
  background-color: #ebcccc; }

.attencion {
  background-color: #805F5F; }

.preferences {
  border: 3px dashed #449d44 !important; }

.preferences td {
  background-color: #fff;
  border-top: 3px dashed #449d44 !important;
  border-bottom: 3px dashed #449d44; }

.preferences td:first-child {
  border-left: 3px dashed #449d44; }

.preferences td:last-child {
  border-right: 3px dashed #449d44; }

.blacklist {
  border: 3px dashed #724C01 !important; }

.blacklist td {
  background-color: #fff;
  border-top: 3px dashed #724C01 !important;
  border-bottom: 3px dashed #724C01; }

.blacklist td:first-child {
  border-left: 3px dashed #724C01; }

.blacklist td:last-child {
  border-right: 3px dashed #724C01; }

.others {
  background-color: #336699; }

.operator {
  background-color: #d43f3a; }

.warning {
  background-color: #f0ad4e; }

.client {
  background-image: url(/images/logo_omni.svg); }

.client:before {
  content: ""; }

.tab-pane .dl-horizontal {
  min-height: 150px; }

dl.form dt {
  padding-top: 5px; }

.modal dl input {
  margin-bottom: 5px; }

.header {
  margin: 10px 0;
  background: #ffffff;
  color: #f1f1f1;
  z-index: 1000;
  border-radius: 5px;
  transition: all 0.3s ease; }

.header .navbar {
  background: #fff;
  font-size: 1.4rem;
  transition: all 0.3s ease; }

.header .navbar-brand {
  line-height: 20px; }

.header .navbar-nav .open .dropdown-menu {
  right: 0;
  left: auto; }

.footer {
  width: 100%;
  position: fixed;
  margin: 0;
  bottom: 0px;
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  background: #FFF;
  padding: 5px 0 0 0;
  z-index: 1000; }

.footer .nav.navbar-nav > li > a {
  color: #fff !important;
  line-height: 100%;
  padding: 8px 15px;
  margin-top: 10px; }

.footer .nav.navbar-nav > li > a:hover.btn-warning {
  color: #fff;
  background-color: #ec971f; }

.footer .nav.navbar-nav > li > a:hover.btn-success {
  color: #fff;
  background-color: #449d44; }

.footer .nav.navbar-nav > li > a:hover.btn-danger {
  color: #fff;
  background-color: #c9302c; }

.footer .nav-footer {
  width: 100%; }

.footer .nav-footer.nav.navbar-nav > li > a.btn-default {
  color: #515356 !important; }

.header-Leasing .dl-horizontal {
  height: 45px; }

@media only screen and (max-width: 767px) {
  .header-Leasing .dl-horizontal {
    height: auto; } }

.wallet {
  width: 60px;
  height: 60px;
  border-radius: 30px !important;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  font-size: 2rem !important;
  text-align: center;
  line-height: 240%; }

.otherAddress,
.other_address,
.patrimony,
.other_income_field {
  display: none; }

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 13px 0 0; }

.folded .panel-title a i {
  display: inline-block;
  float: right; }

.grow-container > li {
  padding: 13px 5px 12px; }

.grow-container > li > a.grow,
a.grow {
  width: 39px;
  height: 30px;
  padding: 0px 0 0px 11px !important;
  line-height: 200%;
  overflow: hidden;
  display: block;
  background-color: #ffffff;
  color: #002c7c;
  text-align: left;
  text-decoration: none !important;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 0 #e6e6e6;
  -moz-box-shadow: 0 2px 0 #e6e6e6;
  -ms-box-shadow: 0 2px 0 #e6e6e6;
  -o-box-shadow: 0 2px 0 #e6e6e6;
  box-shadow: 0 2px 0 #e6e6e6; }

.grow-container > li > a.grow:hover,
a.grow:hover {
  width: 125px; }

.grow-container > li > a.grow.blue,
a.grow.blue {
  background-color: #013188; }

.grow-container > li > a.grow.orange,
a.grow.orange {
  background-color: #dd5f13; }

.grow-container > li > a.grow.yellow,
a.grow.yellow {
  background-color: #ffdc3b; }

.grow-container > li > a.grow.red,
a.grow.red {
  background-color: #ce3305; }

.grow-container > li > a.grow i,
.grow-container > li > a.grow span,
a.grow i,
a.grow span {
  font-size: 16px;
  margin: 0 4px 4px 0; }

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  right: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5); }

.sticky .navbar {
  background: #002c7c;
  color: #ffffff;
  border-radius: 0;
  border: none; }

.sticky .navbar a.scroll {
  color: #ffffff !important; }

.sticky .navbar .dropdown .dropdown-toggle {
  color: #ffffff; }

.sticky .navbar .dropdown.open .dropdown-toggle {
  color: #002c7c; }

.sticky .grow-container > li > a.grow {
  color: #333 !important; }

.sticky .grow-container > li > a.grow:hover {
  color: #ffffff !important;
  background: #dd5f13 !important;
  -webkit-box-shadow: 0 2px 0 #7f370b;
  -moz-box-shadow: 0 2px 0 #7f370b;
  -ms-box-shadow: 0 2px 0 #7f370b;
  -o-box-shadow: 0 2px 0 #7f370b;
  box-shadow: 0 2px 0 #7f370b;
  border-color: #7f370b; }

#info-validation .well {
  padding: 10px 19px;
  margin-bottom: 5px; }

#info-validation hr {
  margin: 10px 0; }

#info-validation .table-compare tr td {
  padding: 3px; }

#info-validation .table-compare tr td .form-group {
  margin-bottom: 0; }

#info-validation .table-compare tr td .form-control {
  margin-bottom: 0px; }

#info-validation .table-compare tr td .form-control.input-user, #info-validation .table-compare tr td .form-control.input-crivo {
  border: 0px;
  box-shadow: none; }

#info-validation .table-compare tr td .form-control.input-user, #info-validation .table-compare tr td .form-control.input-crivo {
  background: none !important;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
  margin: -2px 0 0 0;
  height: auto; }

#info-validation .table-compare tr td .form-control.input-validate {
  background: none !important;
  font-size: 1.2rem;
  font-weight: 300;
  border: solid 1px #ccc;
  padding: 0px 15px; }

#info-validation .table-compare tr td .form-control-feedback {
  margin-top: 5px !important;
  top: 0; }

#info-validation .table-compare tr td .btn {
  margin-top: 5px; }

#info-validation .table-compare tr.has-success .form-group .form-control.input-user,
#info-validation .table-compare tr.has-success .form-group .form-control.input-crivo,
#info-validation .table-compare tr.has-success .form-group .form-control.input-user {
  color: #bbb !important; }

#info-validation .table-compare tr.has-success .form-group .form-control-feedback {
  color: #0cc082; }

#info-validation .table-compare tr.has-success .form-group label.title {
  color: #bbb !important; }

#info-validation .table-compare tr.has-danger .form-group .form-control.input-crivo,
#info-validation .table-compare tr.has-danger .form-group .form-control-feedback {
  color: #ce3305; }

#info-validation .table-compare tr.has-danger .form-group .form-control.input-crivo {
  border: 1px solid #ce3305; }

#info-validation .table-compare tr.has-warning .form-group .form-control.input-crivo,
#info-validation .table-compare tr.has-warning .form-group .form-control-feedback {
  color: #ff720a; }

#info-validation .table-compare tr.has-warning .form-group .form-control.input-crivo {
  border: 1px solid #ff720a; }

#info-validation .table-compare tr.has-danger .form-group .form-control.input-crivo, #info-validation .table-compare tr.has-warning .form-group .form-control.input-crivo {
  padding: 2px 7px;
  margin: -14px 0 0 10px; }

#info-validation .form-group {
  margin-bottom: 0; }

#info-validation .form-group label.empty {
  height: 20px; }

#info-validation .form-group label.justify-label {
  text-indent: -9999px; }

.x_panel {
  margin: 5px 0; }

.panel-body {
  padding: 10px 10px 0px; }

.panel-group .panel-heading {
  padding: 6px 15px 8px; }

.panel-group {
  margin-bottom: 0; }

.panel-heading {
  border-bottom: 1px solid #ddd; }

h2.lone {
  padding: 6px 15px 8px; }

label {
  margin-bottom: 0px; }

.title {
  font-weight: 700;
  font-size: 1.4rem; }

li {
  margin-bottom: 5px; }

.barra {
  width: 150px;
  height: 20px;
  top: 5px;
  position: relative;
  display: block;
  border-radius: 15px;
  background: #f8696b;
  background: -moz-linear-gradient(left, #f8696b 0%, #fedc81 33%, #acd380 66%, #07bc34 100%);
  background: -webkit-linear-gradient(left, #f8696b 0%, #fedc81 33%, #acd380 66%, #07bc34 100%);
  background: linear-gradient(to right, #f8696b 0%, #fedc81 33%, #acd380 66%, #07bc34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8696b', endColorstr='#07bc34', GradientType=1); }

.barra-inner {
  width: 80%;
  margin: 5px;
  height: 10px;
  border-radius: 5px 0 0 5px;
  position: absolute !important;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-right: 2px solid #fff; }

.list-margins {
  margin-top: -10px; }

.list-margins,
.list-margins li {
  margin-bottom: 0px;
  padding-bottom: 0px; }

.panel-title,
.panel-title > a {
  color: #002c7c;
  font-weight: 700; }

.panel-title > a i,
.panel-body a i {
  /* color: #002c7c;*/
  font-size: 2.4rem !important;
  margin-top: -6px; }

.time-list {
  float: right;
  color: #002c7c;
  margin: 8px 0 0;
  padding: 0; }

/* header sticky */
.header.sticky .time-list {
  color: #fff; }

.time-list li {
  margin: 0;
  padding: 0 7px 0;
  border-right: 1px solid #ddd; }

.header.sticky .time-list li {
  border-right: 1px solid #1a4289; }

.time-list li:last-child {
  border-right: none; }

.time-list button {
  top: 11px;
  display: block;
  position: relative; }

.time-list span {
  font-weight: 700; }

.panel-body h5 {
  font-weight: 700; }

.well h5 {
  margin: 4px 0 0; }

.header #sticky-proponente,
.header #sticky-proponente .panel-heading {
  display: none;
  color: #333; }

.header #sticky-proponente .panel-body {
  border: none;
  padding: 0; }

.header.sticky #sticky-proponente {
  display: block; }

.x_title {
  margin-bottom: 0px; }

.side-menu {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e7e7e7; }

.side-menu .navbar {
  border: none; }

.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7; }

.side-menu .navbar-nav {
  background: #ffffff; }

.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.4rem; }

.side-menu .navbar-nav li a {
  padding: 15px; }

.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px; }

.side-menu .navbar-nav li:focus a {
  background: #002c7c;
  color: #ffffff !important; }

.side-menu .navbar-nav li:focus a span {
  color: #ffffff; }

.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  color: #002d74 !important;
  border-right: 5px solid #002d74; }

.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; }

.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0; }

.side-menu #dropdown .indicator {
  float: right; }

.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7; }

.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3; }

.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%; }

.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7; }

.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none; }

.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px; }

.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px; }

.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7; }

.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px; }

.side-menu .brand-name-wrapper {
  min-height: 50px;
  background: #002c7c; }

.side-menu .brand-name-wrapper .navbar-brand {
  display: block; }

.side-menu .navbar-brand {
  padding: 10px 15px; }

.side-body {
  margin-left: 310px; }

@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8; }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block; }
  @-moz-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-webkit-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-moz-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-webkit-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    animation: bodyslideout 300ms forwards;
    transform-style: preserve-3d; }
  .side-menu .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #003eaf; }
  .side-menu .navbar-toggle .icon-bar {
    background-color: #fff; }
  .side-menu .navbar-toggle:focus {
    background-color: #003eaf; }
  .side-menu .navbar-toggle:hover {
    background-color: #001a49; }
  .side-menu .navbar-header {
    position: absolute;
    z-index: 3;
    background-color: #f8f8f8; }
  .body-slide-in {
    animation: bodyslidein 300ms forwards;
    transform-style: preserve-3d; }
  .side-menu-container > .navbar-nav {
    position: absolute;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    animation: slideout 300ms forwards;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    height: 100vh; }
  .side-menu-container > .navbar-nav.slide-in {
    animation: slidein 300ms forwards;
    transform-style: preserve-3d; }
  #dropdown .panel-body .navbar-nav {
    margin: 0; } }

.panel_toolbox > li > a {
  margin-top: 10px; }

.navbar-header {
  background: #002c7c; }

/*--------------- LOADING -------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.loading-logo {
  background: url(/images/logo_Omni_branco.png) no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 41px);
  height: 35px;
  width: 82px;
  z-index: 10000;
  text-indent: -9999px; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #002d74;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff720a;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #002d74;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* LOADING TELA INTEIRA */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/* JavaScript Off */
.no-js #loader-wrapper {
  display: none; }

.no-js h1 {
  color: #222222; }

/*--------------- COBRAÇA AMIGÁVEL -------------------*/
#cobranca-amigavel,
#authorizer-record {
  font-size: 12px;
  color: #333; }

.operator-panel {
  margin: 0 -4px 0;
  font-family: 'Open Sans', sans-serif; }

.operator-panel .x_panel.marginT5 .x-title, .operator-panel .x_panel.marginT0 .x-title {
  padding: 3px 10px; }

.operator-panel h2 {
  font-size: 1.9rem;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  margin: 0;
  color: #ffffff; }

.operator-panel h2 small {
  color: #ffffff; }

.operator-panel h2.tinny {
  padding: 0px 0 0px 10px; }

.operator-panel .provisionamento {
  padding: 0;
  margin: 10px 0 0; }

.operator-panel .provisionamento .tile-stats {
  margin: 0;
  border: none;
  border-radius: 0; }

.operator-panel .dl-horizontal {
  margin: 10px 0 0px; }

.operator-panel .dl-horizontal dd {
  padding-bottom: 4px;
  color: #002d74;
  font-weight: bold;
  margin-left: 170px; }

.operator-panel .dl-horizontal dt {
  padding-bottom: 5px;
  color: #333;
  text-overflow: inherit;
  white-space: pre-line; }

.operator-panel .dl-horizontal dt small {
  display: block; }

.operator-panel .dl-horizontal .text-danger {
  color: #a94442 !important; }

.operator-panel.panel-header .x_panel {
  background: #dd5f13;
  color: #fff;
  border: none;
  height: 30px;
  padding: 3px 5px 0px 5px; }

.operator-panel.panel-header label {
  font-weight: normal; }

.operator-panel.panel-header span,
.operator-panel.panel-header a {
  font-weight: bold; }

.operator-panel.panel-header label,
.operator-panel.panel-header span {
  padding-top: 5px; }

.operator-panel .nav > li > a {
  background-color: #e4e4e4;
  font-weight: bold;
  padding: 10px 10px 6px; }

.operator-panel .nav-tabs > li > a:hover {
  background-color: #e1e1e1; }

.operator-panel .nav-tabs > li.active > a {
  background-color: #fff;
  color: #002d74; }

.operator-panel .nav-tabs > li.active > a:focus, .operator-panel .nav-tabs > li.active > a:hover {
  background-color: #fff;
  color: #002d74; }

.operator-panel .provisionamento .icon {
  background-color: #a94442;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 6rem;
  width: 90px;
  height: 90px;
  top: 13px;
  right: 10px;
  border-radius: 150px; }

.operator-panel .tile-stats .count,
.operator-panel .tile-stats h3,
.operator-panel .tile-stats p {
  padding: 0px 0;
  line-height: 120%; }

.operator-panel .tile-stats h3 {
  color: #333; }

.operator-panel .tile-stats p {
  color: #333;
  font-size: 1.5rem; }

.operator-panel .tile-stats .count.phone {
  font-size: 3rem; }

.operator-panel .tile_stats_count {
  font-weight: 700; }

.operator-panel .tile_count .tile_stats_count .count {
  font-size: 3rem;
  line-height: 120%; }

.operator-panel .timeline h2.title {
  color: #002d74; }

.operator-panel .timeline .byline {
  font-weight: 700; }

.operator-panel .timeline h2.title:before {
  border-color: #717171; }

.operator-panel .alert {
  padding: 5px;
  margin: 5px; }

.operator-panel .x-content.parcel h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 0 0 5px;
  margin-bottom: 0; }

.operator-panel .final-value {
  font-weight: bold; }

.operator-panel .events {
  margin-bottom: 20px; }

.x_panel {
  margin: 10px auto 10px;
  padding: 0px;
  border: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5); }

.x_panel .table.paid {
  color: #002d74; }

.x_panel .table.late {
  color: #dd5f13; }

.x_panel .table.future {
  color: #717271; }

.x_panel .table.table-fixed td {
  padding: 5px 3px;
  height: 35px;
  text-align: center; }

.x_panel .table th {
  text-align: center; }

.x_panel .table.quota {
  margin-bottom: 10px; }

.x_panel .table.quota td {
  font-size: 11px !important;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  vertical-align: middle;
  width: 8.3%;
  line-height: 150%; }

.x_panel .table.quota span {
  line-height: 180%; }

.x-title {
  background: #002c7c;
  border-radius: 5px 5px 0 0;
  padding: 5px; }

.x-title.dead-file {
  background-color: #a94442; }

.x-content {
  padding: 10px;
  margin: 0; }

.x-content .dl-horizontal dd {
  padding-bottom: 0px; }

.table-fixed thead {
  width: 98.7%; }

.table-fixed tbody {
  height: 106px;
  overflow-y: auto;
  width: 100%;
  color: #333; }

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block; }

.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0; }

/* TABELA STRIPED E HOVER*/
.table-striped > tbody > tr:nth-of-type(odd) td {
  background: #efefef; }

.table-striped > tbody > tr:hover td {
  background: #e4e4e4; }

/* PAINEL COM SCROLL */
.scroll-content {
  overflow-x: hidden;
  min-height: 13vh;
  max-height: 38vh; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

/* ATENDIMENTO */
.attendance .active .btn {
  max-width: 200px;
  margin: 0 auto 10px; }

.attendance h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #002c7c; }

.attendance .list-group a {
  text-align: center;
  padding: 5px; }

.attendance .list-group a:hover {
  background-color: #002c7c;
  color: #ffffff; }

.attendance .indexes {
  text-align: center;
  padding: 0px 20px 10px; }

.attendance .indexes div {
  background-color: #474947;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #ffffff;
  font-weight: 500; }

.attendance .table-subtitle {
  color: #aebecc;
  font-size: 1.3rem;
  padding: 0;
  margin: 0 0 10px; }

/*VALID SEARCHS*/
.valid-research li {
  padding: 5px 0;
  display: block;
  border-top: 1px solid #d7d7d7;
  min-height: 33px; }

.valid-research li:first-child {
  border: none; }

/* STATUS */
.status-circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 15px;
  background-color: #717171;
  color: #ffffff !important;
  line-height: 130%;
  text-align: center; }

.status-circle.status-a {
  background-color: #0cc082; }

.status-circle.status-s {
  background-color: #002c7c; }

.status-circle.status-j {
  background-color: #ce3305; }

.labels {
  padding: 10px 0px 0px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  margin: 2px 0px 20px; }

.labels .status-circle {
  line-height: 140%;
  text-align: center;
  padding: 0px 0px;
  font-size: 1rem;
  font-weight: 700; }

#add-phone .x_panel,
#add-email .x_panel,
#add-address .x_panel {
  background-color: #e4e4e4; }

#add-phone .x_panel button,
#add-email .x_panel button,
#add-address .x_panel button {
  margin-bottom: 0px; }

#deal .client-info strong {
  display: block;
  padding-bottom: 10px; }

#deal-panel {
  padding: 10px 10px 5px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

#deal-panel strong {
  display: block;
  position: relative;
  font-size: 2.1rem; }

.modal #text-count {
  text-align: center;
  border: none;
  font-weight: bold; }

/* RING ANIMATION */
.ring {
  -webkit-animation: Rotate 1000ms infinite;
  animation: Rotate 1000ms infinite; }

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  4% {
    -webkit-transform: rotate(-45deg); }
  8% {
    -webkit-transform: rotate(0deg); }
  12% {
    -webkit-transform: rotate(-45deg); }
  16% {
    -webkit-transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(-45deg); }
  24% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes Rotate {
  0% {
    -moz-transform: rotate(0deg); }
  4% {
    -moz-transform: rotate(-45deg); }
  8% {
    -moz-transform: rotate(0deg); }
  12% {
    -moz-transform: rotate(-45deg); }
  16% {
    -moz-transform: rotate(0deg); }
  20% {
    -moz-transform: rotate(-45deg); }
  24% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(0deg); } }

@keyframes Rotate {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(-45deg); }
  8% {
    transform: rotate(0deg); }
  12% {
    transform: rotate(-45deg); }
  16% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-45deg); }
  24% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

/* CONTENT HEIGHT */
.contentH340 {
  height: 340px; }

.contentH410 {
  height: 410px; }

@media only screen and (max-width: 767px) {
  .contentH410 {
    height: auto; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contentH410 {
    height: auto; } }

@media (max-width: 991px) {
  .operator-panel.panel-header .x_panel {
    height: 90px; }
  .operator-panel.panel-header label,
  .operator-panel.panel-header span.form-control-static {
    display: block;
    padding: 0;
    margin: 0; }
  .operator-panel.panel-header .x_panel .btn-group {
    margin-top: -10px; }
  .contentH340 {
    height: auto; }
  .operator-panel .contact-phone .tile-stats {
    height: 140px; }
  .operator-panel .nav > li > a {
    padding: 8px 10px; } }

/*XS*/
@media only screen and (max-width: 767) {
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }

/*SM*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .operator-panel .x_panel .table.table-fixed td {
    height: 48px;
    text-align: center;
    word-wrap: normal; }
  .contentSMH320 {
    height: 320px; }
  .contentSMH230 {
    height: 230px; } }

/*MD*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .operator-panel .contact-phone .tile-stats {
    height: 139px; }
  .contentMDH360 {
    height: 360px; }
  .contentMDH230 {
    height: 230px; } }

/*LG*/
@media (min-width: 1200px) {
  .operator-panel .contact-phone .tile-stats {
    height: 139px; }
  .contentH370 {
    height: 370px; }
  .contentH280 {
    height: 300px; } }

.table .status button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0px 0 0 0px; }

#autorizador {
  font-size: 1.15rem; }

#autorizador button.btn {
  margin-bottom: 0; }

#autorizador a.btn {
  font-size: 2rem;
  padding: 2px 10px 4px; }

#autorizador .dropdown-menu {
  left: -120px !important; }

#authorizer-record {
  font-family: "QuickSand" h3;
  font-family-color: #002c7c;
  font-family-font-size: 2.4rem;
  font-family-margin: 0px;
  font-family-padding: 0 0 5px; }

#authorizer-record .icon-signal i {
  font-size: 2.2rem;
  border-radius: 50px;
  background-color: #122A73;
  color: #fff;
  height: 36px;
  width: 36px;
  line-height: 160%;
  margin: 0;
  text-align: center;
  margin-top: 6px; }

#authorizer-record .x-title {
  background: none;
  padding: 5px; }

#authorizer-record .x-title h2 {
  color: #333; }

#authorizer-record .x-title,
#authorizer-record .x_panel {
  font-family: 'QuickSand'; }

#authorizer-record .x_panel .x-content h3 {
  margin-bottom: 0px; }

#authorizer-record .x_panel .x-content h3 span {
  font-size: 3rem;
  font-weight: 900;
  display: block; }

#authorizer-record .x_panel .x-content p.hilight {
  font-size: 2rem; }

#authorizer-record .label-primary,
#authorizer-record .label {
  padding: 5px 10px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 1.4rem; }

#authorizer-record .label-primary {
  background-color: #002c7c; }

#authorizer-record hr {
  width: 100%; }

#authorizer-record .dash-icons {
  margin: 0 0 30px;
  clear: both;
  list-style: none;
  display: block; }

#authorizer-record .dash-icons li {
  padding: 0;
  float: left;
  box-shadow: none; }

#authorizer-record .dash-icons li:last-child {
  display: block;
  margin: 0 0 0 20px; }

@media only screen and (max-width: 767px) {
  #authorizer-record .dash-icons li:last-child {
    margin: 10px 10px; } }

@media only screen and (max-width: 767px) {
  #authorizer-record .dash-icons li {
    margin-bottom: 10px; } }

@media only screen and (max-width: 767px) {
  #authorizer-record .dl-horizontal dt {
    float: left;
    width: auto;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 0px; } }

@media only screen and (max-width: 767px) {
  #authorizer-record .dl-horizontal dd {
    margin-bottom: 5px; } }

@media only screen and (max-width: 767px) {
  #authorizer-record .dl-horizontal:last-child {
    margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .table-container {
    display: table-header-group;
    z-index: 1; } }

.table-buttons {
  margin-bottom: -38px;
  z-index: 100; }

@media only screen and (max-width: 767px) {
  .table-buttons {
    display: table-footer-group;
    margin: 10px 0 0; } }

.dataTable {
  width: 100% !important; }

.dataTable.table > tbody > tr.info.odd > td,
.dataTable.table > tbody > tr.info.even > td,
.dataTable.table > tbody > tr.info > th,
.dataTable.table > tbody > tr > td.info,
.dataTable.table > tbody > tr > th.info,
.dataTable.table > tfoot > tr.info > td,
.dataTable.table > tfoot > tr.info > th,
.dataTable.table > tfoot > tr > td.info,
.dataTable.table > tfoot > tr > th.info,
.dataTable.table > thead > tr.info > td,
.dataTable.table > thead > tr.info > th,
.dataTable.table > thead > tr > td.info,
.dataTable.table > thead > tr > th.info {
  background-color: #337ab7 !important;
  color: #ffffff; }

.blueBG {
  font-weight: 700;
  color: #002c7c;
  background-color: #ecf0f3; }

.attendance h3.report-title {
  padding: 20px 0 0px;
  text-align: center;
  font-size: 2rem; }

.report-buttons {
  top: -40px;
  position: relative;
  text-align: right;
  z-index: 1; }

@media only screen and (max-width: 767px) {
  .report-buttons {
    margin: 20px auto 50px;
    top: 0;
    text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .report-buttons {
    margin: 20px auto 50px;
    top: 0;
    text-align: center; } }

.kickback-panel {
  height: 103px; }

.kickback-panel span,
.kickback-panel small {
  display: block;
  font-weight: 700;
  font-size: 1.4rem; }

.kickback-panel span.info {
  font-size: 2rem;
  padding: 1px 0; }

.kickback-panel i {
  margin-top: 8px;
  font-size: 3rem;
  border-radius: 50px;
  background-color: #122A73;
  color: #fff;
  height: 60px;
  width: 60px;
  line-height: 190%;
  text-align: center; }

.kickback-panel .title {
  padding: 3px 0 0; }

.alert-kickback {
  padding: 5px 10px;
  margin: 10px 0 30px;
  background: #002c7c;
  color: #ffffff;
  border-radius: 3px; }

.table-kickback tr td {
  font-weight: 500;
  color: #333;
  text-align: center;
  font-size: 1.4rem; }

.table-kickback tr td:first-child {
  text-align: left; }

.table-kickback tr td:last-child {
  text-align: right; }

.table-kickback .dropdown-menu {
  left: -120px !important; }

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

input.inputfile {
  display: none; }

.inputfile + label {
  max-width: 80%;
  font-size: 1.5rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */ }

.no-js .inputfile + label {
  display: none; }

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

/* pointer-events: none; */
/* in case of FastClick lib use */
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */ }

/* style 1 */
/* style 1 */
.inputfile-1 + label {
  color: #fff;
  background-color: #002c7c; }

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #002c7c; }

.userStore {
  display: inline-block;
  height: 40px;
  position: relative;
  line-height: 120%;
  top: 8px; }

.filters {
  background: #f1f1f1;
  padding: 10px 0;
  display: none; }

.filter-selected .label {
  font-size: 1.4rem; }

.filters button {
  margin-right: 0; }

.db {
  display: block !important; }

.operator-bar {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  display: none;
  background: #fff;
  left: 0;
  padding: 10px 5px 5px;
  text-align: center;
  font-size: 2.2rem;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5); }

.operator-bar span {
  font-weight: 900; }

.line-container span.label {
  border-radius: 50%;
  padding: 2px 0px;
  text-align: center;
  width: 24px;
  height: 24px;
  display: block;
  font-size: 1.8rem; }

.line-container .filters,
.line-container .table-hover > tbody > tr.filters:hover,
.line-container .table-hover > tbody > tr.filters:hover td {
  background: #f4f4f4;
  margin: 10px -10px;
  padding: 10px 0;
  display: none; }

.line-container .table tr td:last-child {
  text-align: center; }

.line-container .table tr td:last-child .btn-default {
  width: 130px;
  color: #333; }

.line-container #legendas span.label {
  border-radius: 50%;
  padding: 4px 0px;
  margin: 3px 5px 3px 0;
  text-align: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 1.8rem; }

.loading,
.loading > td,
.loading > th,
.nav li.loading.active > a,
.pagination li.loading,
.pagination > li.active.loading > a,
.pager > li.loading > a {
  background-image: linear-gradient(45deg, rgba(0, 48, 133, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 48, 133, 0.2) 50%, rgba(0, 48, 133, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 40px 40px;
  animation: 2s linear 0s normal none infinite progress-bar-stripes;
  -webkit-animation: progress-bar-stripes 2s linear infinite; }

.btn.btn-default.loading,
input[type="text"].loading,
select.loading,
textarea.loading,
.well.loading,
.list-group-item.loading,
.pagination > li.active.loading > a,
.pager > li.loading > a {
  background-image: linear-gradient(45deg, rgba(0, 48, 133, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 48, 133, 0.2) 50%, rgba(0, 48, 133, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)); }

#results.table-line thead {
  background-color: #fff;
  border-bottom: none; }

#results.table-line thead th {
  font-size: 1.4rem;
  border-bottom: none; }

#results.table-line tbody {
  border: none; }

#results.table-line tbody tr td {
  border-color: #fff; }

.quota-values {
  background: #e4e4e4;
  margin: -15px -10px 10px;
  padding: 10px 10px 5px; }

.quota-values ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem; }

.quota-values ul li {
  text-align: center;
  min-width: 20%;
  padding: 0 10px; }

@media only screen and (max-width: 767px) {
  .quota-values ul {
    display: block; }
  .quota-values ul li {
    min-width: 100%;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ffffff; }
  .quota-values ul li:first-child {
    padding-top: 0px; }
  .quota-values ul li:last-child {
    border: none;
    padding-bottom: 0px; } }

.dashboard .box {
  background: #fff;
  border: 1px solid #E6E9ED;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }

.dashboard h2 {
  font-size: 2.2rem;
  color: #18243e;
  padding: 5px 0 0 10px;
  margin: 0; }

.dashboard .icon-cash:before,
.dashboard .icon-time:before,
.dashboard .icon-alert:before {
  background: #cacaca;
  width: 60px;
  height: 60px;
  font-family: 'FontAwesome';
  font-size: 4rem;
  content: "\f0d6";
  color: #ffffff;
  position: absolute;
  border-radius: 50%;
  line-height: 100%;
  top: 18px;
  right: 10%;
  padding: 10px 5px 5px;
  text-align: center; }

.dashboard .icon-cash:before {
  background: #0cc082; }

.dashboard .icon-time:before {
  background: #013188;
  content: '\f073'; }

.dashboard .icon-alert:before {
  background: #dd5f13;
  content: "\f071"; }

.dashboard .title, .dashboard .legenda {
  display: block;
  text-align: left;
  line-height: 100%; }

.dashboard .title {
  font-size: 3.5rem;
  color: #18243e;
  padding: 0 0 10px;
  font-weight: 700; }

.dashboard .legenda {
  font-weight: 500;
  font-size: 1.5rem;
  color: #717171;
  padding: 10px 0 3px; }

.dashboard .status-overview ul {
  padding: 10px;
  margin: 0; }

.dashboard .status-overview ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

.dashboard .status-overview h3, .dashboard .status-overview .number {
  display: inline-block;
  color: #717171; }

.dashboard .status-overview h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 0 10px;
  margin: 0;
  width: 78%; }

.dashboard .status-overview .number {
  width: 19%;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: right;
  color: #18243e; }

.dashboard .hi-detail {
  text-align: left;
  padding: 10px 0 0;
  text-align: center; }

.dashboard .hi-detail li {
  width: 31%; }

.dashboard .hi-detail .legenda {
  font-size: 1.2rem; }

.dashboard .hi-detail .title {
  color: #ce3305;
  font-size: 1.6rem; }

.dashboard .progress {
  height: 10px;
  border-radius: 10px; }

.dashboard.box-detail .box {
  overflow-x: hidden; }

.dashboard.box-detail .box .title, .dashboard.box-detail .box .legenda {
  text-align: center; }

.dashboard.box-detail .box .title {
  font-size: 2rem; }

@media only screen and (max-width: 767px) {
  .dashboard.box-detail .box .title {
    font-size: 1.6rem; } }

/* INBOX */
.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%; }

.mail-box aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top; }

.mail-box .sm-side {
  background: none repeat scroll 0 0 #e5e8ef;
  border-radius: 4px 0 0 4px;
  width: 25%; }

.mail-box .lg-side {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0 4px 4px 0;
  width: 75%; }

.mail-box .sm-side .user-head {
  background: none repeat scroll 0 0 #00a8b3;
  border-radius: 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 10px; }

.user-head .inbox-avatar {
  float: left;
  width: 65px; }

.user-head .inbox-avatar img {
  border-radius: 4px; }

.user-head .user-name {
  display: inline-block;
  margin: 0 0 0 10px; }

.user-head .user-name h5 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px; }

.user-head .user-name h5 a {
  color: #fff; }

.user-head .user-name span a {
  color: #87e2e7;
  font-size: 12px; }

a.mail-dropdown {
  background: none repeat scroll 0 0 #80d3d9;
  border-radius: 2px;
  color: #01a7b3;
  font-size: 10px;
  margin-top: 20px;
  padding: 3px 5px; }

.inbox-body {
  padding: 20px; }

.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 100%; }

.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff; }

ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%; }

.inbox-divider {
  border-bottom: 1px solid #d5d8df; }

ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%; }

ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  width: 100%; }

ul.inbox-nav li a:hover,
ul.inbox-nav li.active a,
ul.inbox-nav li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a; }

ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px; }

ul.inbox-nav li a span.label {
  margin-top: 13px; }

ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase; }

ul.labels-info li {
  margin: 0; }

ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a; }

ul.labels-info li a:hover,
ul.labels-info li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a; }

ul.labels-info li a i {
  padding-right: 10px; }

.nav.nav-pills.nav-stacked.labels-info p {
  color: #9d9f9e;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0 22px; }

.inbox-head {
  background: none repeat scroll 0 0 #41cac0;
  border-radius: 0 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 20px; }

.inbox-head h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding-top: 6px; }

.inbox-head .sr-input {
  border: medium none;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px; }

.inbox-head .sr-btn {
  background: none repeat scroll 0 0 #00a6b2;
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  height: 40px;
  padding: 0 20px; }

.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0; }

.table-inbox tr td {
  padding: 12px !important; }

.table-inbox tr td:hover {
  cursor: pointer; }

.table-inbox tr td .fa-star.inbox-started,
.table-inbox tr td .fa-star:hover {
  color: #f78a09; }

.table-inbox tr td .fa-star {
  color: #d5d5d5; }

.table-inbox tr.unread td {
  background: none repeat scroll 0 0 #f7f7f7;
  font-weight: 600; }

ul.inbox-pagination {
  float: right; }

ul.inbox-pagination li {
  float: left; }

.mail-option {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%; }

.mail-option .chk-all,
.mail-option .btn-group {
  margin-right: 5px; }

.mail-option .chk-all,
.mail-option .btn-group a.btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 10px; }

.inbox-pagination a.np-btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 15px; }

.mail-option .chk-all input[type="checkbox"] {
  margin-top: 0; }

.mail-option .btn-group a.all {
  border: medium none;
  padding: 0; }

.inbox-pagination a.np-btn {
  margin-left: 5px; }

.inbox-pagination li span {
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px; }

.fileinput-button {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #e6e6e6; }

.inbox-body .modal .modal-body input,
.inbox-body .modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none; }

.btn-send,
.btn-send:hover {
  background: none repeat scroll 0 0 #00a8b3;
  color: #fff; }

.btn-send:hover {
  background: none repeat scroll 0 0 #009da7; }

.modal-header h4.modal-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.modal-body label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.heading-inbox h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px; }

.sender-info {
  margin-bottom: 20px; }

.sender-info img {
  height: 30px;
  width: 30px; }

.sender-dropdown {
  background: none repeat scroll 0 0 #eaeaea;
  color: #777;
  font-size: 10px;
  padding: 0 3px; }

.view-mail a {
  color: #ff6c60; }

.attachment-mail {
  margin-top: 30px; }

.attachment-mail ul {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%; }

.attachment-mail ul li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px; }

.attachment-mail ul li img {
  width: 100%; }

.attachment-mail ul li span {
  float: right; }

.attachment-mail .file-name {
  float: left; }

.attachment-mail .links {
  display: inline-block;
  width: 100%; }

.fileinput-button {
  float: left;
  margin-right: 4px;
  overflow: hidden;
  position: relative; }

.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(4); }

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px; }

.files .progress {
  width: 200px; }

.fileupload-processing .fileupload-loading {
  display: block; }

* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0; }

* + html .fileinput-button {
  margin: 1px 0 0;
  padding: 2px 15px; }

@media (max-width: 767px) {
  .files .btn span {
    display: none; }
  .files .preview * {
    width: 40px; }
  .files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word; }
  .files .progress {
    width: 20px; }
  .files .delete {
    width: 60px; } }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

/* OMNIFACIL */
/*Custom - ADICIONE SUAS CLASSES NESTE ARQUIVO*/
